<?xml version='1.0' encoding='UTF-8' ?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

    <body>

        <ui:composition template="./template.xhtml">

            <ui:define name="box">
                <div class="box-inner col-4">
                    <h4>
                        <h:outputText escape="false" value="#{UserNumberBean.response}"/>
                    </h4>

                    <h:form prependId="false">
                        <h:commandButton id="backButton" value="Back" action="greeting" />
                    </h:form>
                </div>

                <img class="img col-8" id="right" src="guess.jpg" alt="kermit guess"/>
            </ui:define>

        </ui:composition>

    </body>
</html>