<?xml version='1.0' encoding='UTF-8' ?> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="css/stylesheet.css" rel="stylesheet" type="text/css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" />

        <title>
            <ui:insert name="title">Guess</ui:insert>
        </title>
    </h:head>

    <h:body>
        <div class="container">
            <div id="mainContainer">
                <div id="left" class="subContainer greyBox row pt-4">
                    <ui:insert name="box">Box Content Here</ui:insert>
                </div>
                <div id="right" class="subContainer">
                    <!--<img src="guess.jpg" alt="kermit"/>-->
                </div>
            </div>
        </div>
    </h:body>

</html>